* {
  box-sizing: border-box;
}

:root {
  --background-color: #242424;
  --color: rgba(255, 255, 255, 0.87);
  --highlight: #2078c6;
  --disabled: var(--background-color);
  --disabled-text: #717171;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark light;
  color: var(--color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --color: #213547;
  }
}
