@import url('/css/base.css');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#card {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--background-color);
  border-radius: 0.25rem;
}

#card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(2px);
  background-size: 500% 500%;
  background-image: radial-gradient(
    white,
    snow,
    red,
    orange,
    yellow,
    teal,
    green,
    hotpink,
    blue,
    purple
  );
  animation: rainbow 8s linear infinite;
}

h1 {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 3rem;
  margin-inline: 3rem;
}

.field {
  margin-block-end: 2rem;
}

.field > label {
  display: block;
  margin-block-end: 0.25rem;
  color: var(--color);
}

.field > input {
  width: 100%;
  padding: 0.5rem;

  border-radius: 0.25rem;
  /* border: 2px solid #F3F3F3; */

  /* color: #3F3F3F; */
}

.field > input:focus-visible {
  outline-color: var(--highlight);
  outline-style: solid;
  outline-width: 2px;
}

button {
  position: relative;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* filter: blur(2px); */
  background-size: 1000px 1000px;
  background-image: radial-gradient(
    white,
    snow,
    red,
    orange,
    yellow,
    teal,
    green,
    hotpink,
    blue,
    purple
  );
  color: var(--color);
  cursor: pointer;
  transition: border-color 0.25s;
  animation: rainbow 8s linear infinite;
}
button > span {
  display: block;
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  margin-block: 2px;
  padding-block: 0.5rem;
  border-radius: 8px;
  font-weight: 900;
  letter-spacing: 2px;
  transition: all 0.5s linear;
}
button:hover:not(:disabled) {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background: var(--disabled);
  color: var(--disabled-text);
  cursor: default;
}

@keyframes rainbow {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}
