* {
  box-sizing: border-box;
}

:root {
  --background-color: #242424;
  --color: rgba(255, 255, 255, 0.87);
  --card-bg-color: var(--background-color);
  /* --button-bg-color: #4f4f4f; */
  /* --label-color: #6b6b6b; */
  --label-color: var(--color);
  --highlight: #2078c6;
  --disabled: var(--background-color);
  --disabled-text: #717171;
  /* --highlight: #2078C6; */

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark light;
  color: var(--color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#card {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--card-bg-color);
  border-radius: 0.25rem;
}

#card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(2px);
  background-size: 500% 500%;
  background-image: radial-gradient(
    white,
    snow,
    red,
    orange,
    yellow,
    teal,
    green,
    hotpink,
    blue,
    purple
  );
  animation: rainbow 8s linear infinite;
}

h1 {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 3rem;
  margin-inline: 3rem;
}

.field {
  margin-block-end: 2rem;
}

.field > label {
  display: block;
  margin-block-end: 0.25rem;
  color: var(--label-color);
}

.field > input {
  width: 100%;
  padding: 0.5rem;

  border-radius: 0.25rem;
  /* border: 2px solid #F3F3F3; */

  /* color: #3F3F3F; */
}

.field > input:focus-visible {
  outline-color: var(--highlight);
  outline-style: solid;
  outline-width: 2px;
}

button {
  position: relative;
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* filter: blur(2px); */
  background-size: 1000px 1000px;
  background-image: radial-gradient(
    white,
    snow,
    red,
    orange,
    yellow,
    teal,
    green,
    hotpink,
    blue,
    purple
  );
  color: var(--color);
  cursor: pointer;
  transition: border-color 0.25s;
  animation: rainbow 8s linear infinite;
}
button > span {
  display: block;
  background-color: var(--background-color);
  height: 100%;
  width: 100%;
  margin-block: 2px;
  padding-block: 0.5rem;
  border-radius: 8px;
  font-weight: 900;
  letter-spacing: 2px;
  transition: all 0.5s linear;
}
button:hover:not(:disabled) {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background: var(--disabled);
  color: var(--disabled-text);
  cursor: default;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --color: #213547;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 0%;
  }

  25% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 100% 0%;
  }

  100% {
    background-position: 0% 0%;
  }
}
